:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  min-height: 100vh;
  background-color: #f1f5f9;
}
/*start sidebar*/
.slider {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.slider > h3 {
  margin-bottom: 50px;
}
.slider > h3::before {
  content: "";
  background-color: black;
  width: 80px;
  height: 2px;
  position: absolute;
  bottom: -20px;
  transform: translateX(-50%);
  left: 50%;
}
.slider > h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -29px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid white;
  transform: translateX(-50%);
}
.slider ul li a {
  transition: 0.3s;
  margin-bottom: 5px;
}
.slider ul li a:hover,
.slider ul li a.active {
  background-color: #f6f6f6;
}
.slider ul li a span {
  font-size: 12px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .slider {
    width: 62px;
    padding: 10px;
  }
  .slider ul li a span {
    display: none;
  }
  .slider > h3 {
    font-size: 10px;
    margin-bottom: 15px;
  }
  .slider > h3::after,
  .slider > h3::before {
    display: none;
  }
} /*end sidebar*/
/*start content */
.content {
  overflow: hidden;
}
.head .search::before {
  font-family: var(--fa-style-family-classic);
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--gray-color);
}
.head .search input {
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  opacity: 0;
}
.head .icons .notification {
  padding-right: 7px;
}

.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: var(--red-color);
  border-radius: 50%;
  right: 2px;
  top: -5px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::after,
.page h1::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.page h1::before {
  background-color: white;
  width: 120px;
}
.page h1::after {
  background-color: black;
  width: 40px;
}
/*end content*/
/*start welcome widget*/
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 170px;
  margin-bottom: -10px;
}
.welcome .avatar {
  border: 2px solid white;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-top: -32px;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
}
.welcome .visit:hover {
  background-color: var(--blue-alt-color);
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/* end welcome widget*/
/*start quick draft*/
.quick-draft textarea {
  resize: none;
  min-height: 150px;
}
/*end quick draft*/
/*start target*/
.targets .details {
  flex: 1;
}
.targets .progress {
  height: 4px;
}
.targets .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  font-size: 12px;
}
.targets .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
/*end target*/
/*start tickets*/
.tickets .box {
  width: calc(50% - 10px);
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/*endtickets*/
/*start latest-news*/
@media (max-width: 767px) {
  .latest-news .news-row {
    display: block;
  }
  .latest-news .news-row .label {
    margin: 10px auto;
    width: fit-content;
  }
}
/*end latest-news*/
/*start task*/
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.tasks .delete:hover {
  color: var(--red-color);
}
/*end task*/
/*start last project*/
.last-project ul::before {
  content: "";
  position: absolute;
  left: 10px;
  width: 2px;
  height: 100%;
  background-color: var(--blue-color);
}
@media (max-width: 767px) {
  .last-project ul::before {
    height: calc(100% - 10px);
  }
  .last-project ul li {
    font-size: 13px;
  }
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid var(--blue-color);
  margin-right: 15px;
  z-index: 1;
}
.last-project ul li.done::before {
  background-color: var(--blue-color);
}
.last-project ul li.current::before {
  animation: change-color 0.8s infinite alternate;
}
.last-project .launch-icon {
  position: absolute;
  width: 160px;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}
/*end  last project*/
/*start reminders */
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
/*end reminders*/
/*start latest post*/
.latest-post .avatar {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  min-height: 140px;
}
/*end latest post*/
/*start social media*/
.social-media .box {
  padding-left: 70px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  transition: 0.3s;
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .x {
  background-color: rgb(29 161 242 / 6%);
  color: rgb(29, 161, 242);
}
.social-media .x i,
.social-media .x a {
  background-color: rgb(29, 161, 242);
}
.social-media .facebook {
  background-color: rgb(24 119 242 / 6%);
  color: rgb(24, 119, 242);
}
.social-media .facebook i,
.social-media .facebook a {
  background-color: rgb(24, 119, 242);
}
.social-media .youtube {
  background-color: rgb(255 0 0 / 6%);
  color: rgb(255, 0, 0);
}
.social-media .youtube i,
.social-media .youtube a {
  background-color: rgb(255, 0, 0);
}
.social-media .linkedin {
  background-color: rgb(10 102 194 / 6%);
  color: rgb(10, 102, 194);
}
.social-media .linkedin i,
.social-media .linkedin a {
  background-color: rgb(10, 102, 194);
}
/*end social media*/
/*start project table*/
.projects .responsive-table {
  overflow-x: auto;
}
.projects table {
  min-width: 1000px;
  border-spacing: 0;
}
.projects tbody tr:hover td {
  background-color: #faf7f7;
}
/*end project table*/
/*start settings */
.settings-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
.settings-page .close-message {
  resize: none;
  min-height: 150px;
}
.settings-page #email {
  display: inline-flex;
  width: calc(100% - 80px);
}
.settings-page .social-boxes i {
  background-color: #f6f6f6;
  border-right: none;
  border-radius: 6px 0 0 6px;
}
.settings-page .social-boxes input {
  height: 40px;
  background-color: #f6f6f6;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}
.settings-page .social-boxes > div:focus-within i {
  color: black;
}
.settings-page .widgets-control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.settings-page .widgets-control .control label::before,
.settings-page .widgets-control .control label::after {
  border-radius: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
}
.settings-page .widgets-control .control label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 2px solid var(--gray-color);
}
.settings-page .widgets-control .control label:hover::before {
  border-color: var(--blue-alt-color);
}
.settings-page .widgets-control .control label::after {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  font-weight: 900;
  background-color: var(--blue-color);
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.settings-page .widgets-control input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}
.settings-page .backup-control input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
}
.settings-page .backup-control .date label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid var(--gray-color);
  border-radius: 50%;
}
.settings-page .backup-control .date label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--blue-color);
  transition: 0.3s;
  transform: scale(0);
}
.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::before {
  border-color: var(--blue-color);
}
.settings-page
  .backup-control
  .date
  input[type="radio"]:checked
  + label::after {
  transform: scale(1);
}
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
@media (max-width: 767px) {
  .backup-control .servers {
    flex-wrap: wrap;
  }
}
.backup-control .servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00c";
  left: 50px;
  color: var(--blue-alt-color);
}
.settings-page :disabled {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
/*end settings*/
/*start profile page*/
.page .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .page .avatar-box {
    border-right: 1px solid #eee;
  }
}
.page .avatar-box > img {
  width: 120px;
  height: 120px;
}
.page .avatar-box .level {
  height: 6px;
  overflow: hidden;
  width: 70%;
}
.page .info-box .box:hover {
  background-color: #f9f9f9;
}
.page .info-box .box > div {
  min-width: 230px;
  padding: 10px 0 0;
}
.page .info-box .edit {
  position: absolute;
  font-size: 12px;
  height: 18px;
  width: 70px;
}
.page .info-box .edit::before {
  height: 14px;
  width: 17px;
  top: 2px;
  bottom: 2px;
}
.page .skills-card {
  flex-grow: 1;
}
.page .skills-card ul li {
  padding: 15px 0;
}
.page .skills-card ul li span {
  display: inline-flex;
  padding: 4px 10px;
}
.page .activities {
  flex-grow: 2;
}
@media (min-width: 768px) {
  .page .activity .date {
    margin-left: auto;
    text-align: right;
  }
}
/*end profile page*/
/* start projects-page*/
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
.projects-page .project .team {
  min-height: 80px;
}
.projects-page .project .team a:nth-child(2) {
  left: 25px;
}
.projects-page .project .team a:nth-child(3) {
  left: 50px;
}
.projects-page .project .team a:nth-child(4) {
  left: 75px;
}
.projects-page .project .team a:nth-child(5) {
  left: 100px;
}
.projects-page .project .team a:hover {
  z-index: 1000;
}
.projects-page .project .prog {
  height: 8px;
  width: 260px;
  position: relative;
}
/*end projects-page*/
/*start courses page*/
.courses-page .course {
  overflow: hidden;
}
.courses-page .course .cover {
  max-width: 100%;
}
.courses-page .course .info .title {
  left: 50%;
  transform: translateX(-50%);
  top: -13px;
  height: 27px;
}
/*end courses page*/
/*start files page*/
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
}
.files-page .files-stats .upload:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file:hover img {
  transform: rotate(5deg);
}
/*end files-page*/
/*start animation*/
@keyframes change-color {
  from {
    background-color: var(--blue-color);
  }
  to {
    background-color: white;
  }
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/*end  animation*/
